body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: larger;
}

h2 {
  font-size: large;
}

h3 {
  font-size: medium;
}

.headerItems {
  margin: 10px;
}

.content {
  height: 50vh;
}

.voters {
  min-height: 50vh;
}